$font-stack: Helvetica, Arial, sans-serif;

$dark-blue: #2C3E50;
$medium-blue: #2980B9;
$light-blue: #3498DB;
$red: #E74C3C;
$grayish: #E6E6E6;

$background: #FAFAFA;
$link-color: $light-blue;
$link-hover: $dark-blue;

$font-size-normal: 1.3em;
$font-size-small: .9em;

body {
  font-family: $font-stack;
  font-size: $font-size-normal;
  background-color: $background;
  padding-bottom: 2em;
}

h1 {
  color: $red;
}

h2 {
  line-height: 1.5em;
  color: $medium-blue;
  border-bottom: solid 2px $medium-blue;
}

h3 {
  margin-top: .5em;
  color: $dark-blue;
  border-bottom: solid 1px $dark-blue;
}

a {
  color: $link-color;
}

a:hover {
  color: $link-hover;
  text-decoration: none;
}

ul.list-posts {
  padding-left: 0;
  list-style-type: none;

  li {
    border-bottom: solid 1px $grayish;
    margin-bottom: .5em;
  }
}

.popover {
  font-size: $font-size-small;
}

.required {
  color: #F00;
}